.post-container {
  background-color: #fff;
	margin: 0 auto;
	width: 90%;
  padding-left: 5%;
  padding-right: 5%;
}

.media-object {
  width: 150px;
  height: 150px;
}

.category {
  text-align: center;
  color:#FFF;
  font-weight: bold;
  padding:20px;
  transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
}

#banner.row{
  background-color: #fff;
  padding-left: 25px;
}

#banner{
  min-height: 400px;
  margin-top: 0px;
}

h4.feedheader{
  line-height: 1;
  margin-top: -5px;
  margin-bottom: -15px;
}

.lifehacks{
  width: 80%;
  background-color: #bcf1ff;
  height: 150px;
  top:50%;
  padding:1em;
  margin: 0 auto;
  margin-bottom: 20px;
}

@media (max-width: 600px){
  .lifehacks{
    height:250px;
    width:90%;
  }
}

#topleftlogo{
  height:85%;
  display: inline-block;
  vertical-align: middle;
}

#relationships{
  background-color:#FF3F3F;
}

#relationships:hover{
  background-color:#FF6565;
}

#sleep {
  background-color:#9844CB;
}

#sleep:hover {
  background-color: #AD69D5;
}

#exercise {
  background-color:#FFCC4C;
}

#exercise:hover {
  background-color:#FFD670;
}

#eating {
  background-color:#FF963F;
}

#eating:hover{
  background-color:#FFAB65;
}

#social {
  background-color:#30C2C2;
}

#social:hover {
  background-color:#59CECE;
}

#sustainability{
  background-color: #60E760;
}

#sustainability:hover {
  background-color: #88ED88;
}

#study{
  background-color: #3ED086;
}

#study:hover{
  background-color: #65D99E;
}

#health{
  background-color: #EB4683;
}

#health:hover{
  background-color: #EF6B9C;
}

.livefeed{
  height:80%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.feedcontrols{
  float:right;
  padding-bottom:5px;
  height:20%;
}

// BOOTSTRAP OVERRIDES

body, html {
  background-color: #FF0000;
}

.navbar-inner {
  min-height: 0px;
}

.navbar-nav > li > a, .navbar-brand {
    padding-top:0 !important;
    padding-bottom:0 !important;
    height: 80px;
    line-height: 80px;
}

.navbar {
  min-height:80px !important;
  margin-bottom: 0;
}


// Small screens

@media (max-width: 767px){
  #banner{
    background-color: #fff;
  }

  #banner.row{
    padding-right:25px;
  }
}

@media (min-width: 767px){
  #banner{
    background-image:url("../static/banner_web.jpg");
    background-position: 90% 0%;
    background-repeat: no-repeat;
    background-size: 600px;
    background-attachment: fixed;
  }
  #banner.row{
    padding-right: 50%;
  }
}
