html, body {
	font-family: "Trebuchet MS", "Helvetica", "Verdana", Arial, sans-serif;
	font-size: 16px;
	height:100%;
}

p #incorrectanswer{
	color: red;
	font-weight: bold;
}

p #correctanswer{
	color: green;
	font-weight: normal;
}

p #question{
	font-weight: bold;
}

#feedbackpanel{
	height: 300px;
	margin-top:10px;
	padding-left:20px;
	padding-right:20px;
	padding-top:0px;
	padding-bottom:8px;
	overflow: hidden;
	border: 2px solid #555555;
	border-radius: 10px;
}

div #footer{
	text-align: center;
	float:bottom;
}

.content{
	margin-bottom: 0px;
}

label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 25px;
    margin-right: 15px;
}

input[type=radio] {
    display: none;
}

label:before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 10px;
    position: absolute;
    left: 0;
    top: 5px;
    background-color: #f3f3f3;
    box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);
    border-radius:8px;
}

input[type=radio]:checked +label:before {
    content: "\2022";
    color: #3366FF;
    font-size: 30px;
    text-align: center;
    line-height: 10px;
}

#submitdiv {
    padding-left: 20px;
}
